/** Original Grails styles **/
 .spinner{background:url(../images/spinner.gif) 50% 50% no-repeat transparent;height:16px;width:16px;padding:.5em;position:absolute;right:0;top:0;text-indent:-9999px}
.main-content .nav{background-color:#efefef;padding:.5em .75em;-moz-box-shadow:0 0 3px 1px #aaa;-webkit-box-shadow:0 0 3px 1px #aaa;box-shadow:0 0 3px 1px #aaa;zoom:1}
.main-content .nav ul{overflow:hidden;padding-left:0;zoom:1}.main-content .nav li{display:block;float:left;list-style-type:none;margin-right:.5em;padding:0}.main-content .nav a{color:#666;display:block;padding:.25em .7em;text-decoration:none;-moz-border-radius:.3em;-webkit-border-radius:.3em;border-radius:.3em}
.main-content .nav a:active,.main-content .nav a:visited{color:#666}.main-content .nav a:focus,.main-content .nav a:hover{background-color:#999;color:#fff;outline:0;text-shadow:1px 1px 1px rgba(0,0,0,0.8)}.no-borderradius .nav a:focus,.no-borderradius .nav a:hover{background-color:transparent;color:#444;text-decoration:underline}
.main-content .nav a.home, .main-content .nav a.list, .main-content .nav a.create{background-position:.7em center;background-repeat:no-repeat;text-indent:25px} .main-content .nav a.home{background-image:url(../images/skin/house.png)} .main-content .nav a.list{background-image:url(../images/skin/database_table.png)} .main-content .nav a.create{background-image:url(../images/skin/database_add.png)}
fieldset,.property-list{margin:.6em 1.25em 0 1.25em;padding:.3em 1.8em 1.25em;position:relative;zoom:1;border:0}.property-list .fieldcontain{list-style:none;overflow:hidden;zoom:1}.fieldcontain{margin-top:1em}.fieldcontain label,.fieldcontain .property-label{color:#666;text-align:right;width:25%}
.fieldcontain .property-label{float:left}.fieldcontain .property-value{display:block;margin-left:27%}label{cursor:pointer;display:inline-block;margin:0 .25em 0 0}input,select,textarea{background-color:#fcfcfc;border:1px solid #ccc;font-size:1em;padding:.2em .4em}
select{padding:.2em .2em .2em 0}select[multiple]{vertical-align:top}textarea{width:250px;height:150px;overflow:auto;vertical-align:top}input[type=checkbox],input[type=radio]{background-color:transparent;border:0;padding:0}input:focus,select:focus,textarea:focus{background-color:#fff;border:1px solid #eee;outline:0;-moz-box-shadow:0 0 .5em #fff;-webkit-box-shadow:0 0 .5em #fff;box-shadow:0 0 .5em #fff}
.required-indicator{color:#48802c;display:inline-block;font-weight:bold;margin-left:.3em;position:relative;top:.1em}ul.one-to-many{display:inline-block;list-style-position:inside;vertical-align:top}.ie6 ul.one-to-many,.ie7 ul.one-to-many{display:inline;zoom:1}
ul.one-to-many li.add{list-style-type:none}fieldset.embedded{background-color:transparent;border:1px solid #ccc;margin-left:0;margin-right:0;padding-left:0;padding-right:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}fieldset.embedded legend{margin:0 1em}
.errors,.message{font-size:.8em;line-height:2;margin:1em 2em;padding:.25em}.message{background:#f3f3ff;border:1px solid #b2d1ff;color:#006dba;-moz-box-shadow:0 0 .25em #b2d1ff;-webkit-box-shadow:0 0 .25em #b2d1ff;box-shadow:0 0 .25em #b2d1ff}.errors{background:#fff3f3;border:1px solid #faa;color:#c00;-moz-box-shadow:0 0 .25em #f88;-webkit-box-shadow:0 0 .25em #f88;box-shadow:0 0 .25em #f88}
.errors ul,.message{padding:0}.errors li{list-style:none;background:transparent url(../images/skin/exclamation.png) .5em 50% no-repeat;text-indent:2.2em}.message{background:transparent url(../images/skin/information.png) .5em 50% no-repeat;text-indent:2.2em}
.error input,.error select,.error textarea{background:#fff3f3;border-color:#faa;color:#c00}.error input:focus,.error select:focus,.error textarea:focus{-moz-box-shadow:0 0 .5em #faa;-webkit-box-shadow:0 0 .5em #faa;box-shadow:0 0 .5em #faa}input:invalid,select:invalid,textarea:invalid{background:#fff3f3;border-color:#faa;color:#c00}
input:invalid:focus,select:invalid:focus,textarea:invalid:focus{-moz-box-shadow:0 0 .5em #faa;-webkit-box-shadow:0 0 .5em #faa;box-shadow:0 0 .5em #faa}table{border-top:1px solid #dfdfdf;border-collapse:collapse;width:100%;margin-bottom:1em}tr{border:0}
tr>td:first-child,tr>th:first-child{padding-left:1.25em}tr>td:last-child,tr>th:last-child{padding-right:1.25em}td,th{line-height:1.5em;padding:.5em .6em;text-align:left;vertical-align:top}th{background-color:#efefef;background-image:-moz-linear-gradient(top,#fff,#eaeaea);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#eaeaea));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff',EndColorStr = '#eaeaea');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";color:#666;font-weight:bold;line-height:1.7em;padding:.2em .6em}
thead th{white-space:nowrap}th a{display:block;text-decoration:none}th a:link,th a:visited{color:#666}th a:hover,th a:focus{color:#333}th.sortable a{background-position:right;background-repeat:no-repeat;padding-right:1.1em}th.asc a{background-image:url(../images/skin/sorted_asc.gif)}
th.desc a{background-image:url(../images/skin/sorted_desc.gif)}.pagination{border-top:0;margin:0;padding:.3em .2em;text-align:center;-moz-box-shadow:0 0 3px 1px #aaa;-webkit-box-shadow:0 0 3px 1px #aaa;box-shadow:0 0 3px 1px #aaa;background-color:#efefef}
.pagination a,.pagination .currentStep{color:#666;display:inline-block;margin:0 .1em;padding:.25em .7em;text-decoration:none;-moz-border-radius:.3em;-webkit-border-radius:.3em;border-radius:.3em}.pagination a:hover,.pagination a:focus,.pagination .currentStep{background-color:#999;color:#fff;outline:0;text-shadow:1px 1px 1px rgba(0,0,0,0.8)}
.no-borderradius .pagination a:hover,.no-borderradius .pagination a:focus,.no-borderradius .pagination .currentStep{background-color:transparent;color:#444;text-decoration:underline}.buttons{background-color:#efefef;overflow:hidden;padding:.3em;-moz-box-shadow:0 0 3px 1px #aaa;-webkit-box-shadow:0 0 3px 1px #aaa;box-shadow:0 0 3px 1px #aaa;margin:.1em 0 0 0;border:0}
.buttons input,.buttons a{background-color:transparent;border:0;color:#666;cursor:pointer;display:inline-block;margin:0 .25em 0;overflow:visible;padding:.25em .7em;text-decoration:none;-moz-border-radius:.3em;-webkit-border-radius:.3em;border-radius:.3em}
.buttons input:hover,.buttons input:focus,.buttons a:hover,.buttons a:focus{background-color:#999;color:#fff;outline:0;text-shadow:1px 1px 1px rgba(0,0,0,0.8);-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.no-borderradius .buttons input:hover,.no-borderradius .buttons input:focus,.no-borderradius .buttons a:hover,.no-borderradius .buttons a:focus{background-color:transparent;color:#444;text-decoration:underline}
.buttons .delete,.buttons .edit,.buttons .save{background-position:.7em center;background-repeat:no-repeat;text-indent:25px}.ie6 .buttons input.delete,.ie6 .buttons input.edit,.ie6 .buttons input.save,.ie7 .buttons input.delete,.ie7 .buttons input.edit,.ie7 .buttons input.save{padding-left:36px}
.buttons .delete{background-image:url(../images/skin/database_delete.png)}.buttons .edit{background-image:url(../images/skin/database_edit.png)}.buttons .save{background-image:url(../images/skin/database_save.png)}a.skip{position:absolute;left:-9999px}
.content.scaffold-list .pagination {display: block;}