
html,body{height:100%;}
body.login{background:#FFFFFF;font-family:'Open Sans'}
.login h4 {font-weight:normal;font-size:19.5px}
.login-container {width: 326px;}
.login-content { /*padding: 16px 28px 23px;*/ }
.login-content h2 {padding-bottom: 10px;margin-bottom: 14px;}
.login-input input {width: 298px;padding: 8px 12px;}
.login-content .form-actions {/*margin-left: -28px;margin-right: -28px;padding-left: 28px;padding-right: 28px;*/}
.login-content .login-actions {display: block;padding-bottom: 5px;margin-bottom: 14px;}
.login-options {margin: 0 0 20px;}
.login-content form {margin-top: 14px;}
.border-top {border-top: 1px dotted #ccc;}
.border-bottom {border-bottom: 1px dotted #ccc;}
.login-options a {display: inline-block;}
.error{color:#CF1E26;}
.box-image{width: 370px;margin: 20px auto 0;display: block;-moz-box-shadow: 4px 4px 15px #131313;-webkit-box-shadow: 4px 4px 15px #131313;box-shadow: 4px 4px 15px #131313;}
#logo {max-width: 280px;margin-bottom:16px;}
#main-welcome {margin: auto;width: 940px;height:370px;position: absolute;top:0;bottom: 0;left: 0;right: 0;}
#left-col {background-color:#CF1E26;color:white;height:100%;}
#left-col  .text {margin:30px 20px;}
#left-col  .text h2{font-weight:normal;font-size:2.2em;}
#right-col {height:100%;}
#right-col .title {padding-bottom:5px;}
@media (min-width: 960px) {
  .login-container {
    margin-left:6%;
  }
}